*~
*.pth
*.log
*.pyc
*.swp
*batchjob*
*.out
log/
log_archive/
qsublog/
nbproject/
test.py
DL_DIR
sqlite3db-journal
sqlite3db
log/*
background.log
mail_cfg.py
storage_db
upload_db
*.out
.pydevproject
.project
lib/python/config/basic.py
lib/python/config/background.py
lib/python/config/commondb.py
lib/python/config/processing.py
lib/python/config/email.py
lib/python/config/download.py
lib/python/config/jobpooler.py
lib/python/config/searching.py
